node_modules/
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
android/capacitor-cordova-android-plugins/build/
.expo/
dist/
web-build/
.git/
*.log
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
.DS_Store